@model Enmarcha.Experimental.ServiceViewer.Views.Services.ServiceInDayModel
@{
    ViewData["Title"] = "Servicios a realizar en " + Model.Date.ToString("dd 'de' MMMM 'de' yyyy");
}

@section Head
{
    <link rel="stylesheet" href="~/styles/services_in_day.css" />
    <link rel="stylesheet" href="/stylesheets/routecolours.css" />
}

<header>
    <h1>
        @ViewData["Title"]
    </h1>
</header>

<section id="service-cards">
    @foreach (ServicesInDayItem card in Model.Items)
    {
        <article>
            <header>
                <a asp-action="ServiceDetails" asp-route-day="@Model.Date.ToString("yyyy-MM-dd")" asp-route-serviceId="@card.ServiceId">
                    @card.ServiceName
                </a>
            </header>
            <main>
                @card.ShiftStart &rarr; @card.ShiftEnd
            </main>
            <footer>
                @foreach (var cardTripGroup in card.TripGroups)
                {
                    <span class="route-group route-@cardTripGroup.route.SafeId">
                        @cardTripGroup.route.ShortName (@cardTripGroup.count)
                    </span>
                }
            </footer>
        </article>
    }
</section>
